# Importing Models

In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler 
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

# Data collection and processing
##PIMA Diabetes Data Set

In [2]:
df = pd.read_csv('diabetes.csv')
df.head(10)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
5,5,116,74,0,0,25.6,0.201,30,0
6,3,78,50,32,88,31.0,0.248,26,1
7,10,115,0,0,0,35.3,0.134,29,0
8,2,197,70,45,543,30.5,0.158,53,1
9,8,125,96,0,0,0.0,0.232,54,1

In [3]:
df.shape

(768, 9)

In [4]:
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [5]:
df['Outcome'].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

0------>non-diabetic
1------>Diabetic

In [6]:
df.groupby('Outcome').mean()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000
1,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164

# x-y split

In [7]:
x = df.drop(columns ='Outcome', axis = 1)
y = df['Outcome']

In [8]:
print(x)

     Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
0              6      148             72             35        0  33.6
1              1       85             66             29        0  26.6
2              8      183             64              0        0  23.3
3              1       89             66             23       94  28.1
4              0      137             40             35      168  43.1
..           ...      ...            ...            ...      ...   ...
763           10      101             76             48      180  32.9
764            2      122             70             27        0  36.8
765            5      121             72             23      112  26.2
766            1      126             60              0        0  30.1
767            1       93             70             31        0  30.4

     DiabetesPedigreeFunction  Age
0                       0.627   50
1                       0.351   31
2                       0.672   32
3                       0.167   21
4                       2.288   33
..                        ...  ...
763                     0.171   63
764                     0.340   27
765                     0.245   30
766                     0.349   47
767                     0.315   23

[768 rows x 8 columns]

In [9]:
print(y)

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

# Standard scaler

In [10]:
scaler = StandardScaler()

In [11]:
scaler.fit(x)

StandardScaler()

In [12]:
standardized_data = scaler.transform(x)

In [13]:
print(standardized_data)

[[ 0.63994726  0.84832379  0.14964075 ...  0.20401277  0.46849198
   1.4259954 ]
 [-0.84488505 -1.12339636 -0.16054575 ... -0.68442195 -0.36506078
  -0.19067191]
 [ 1.23388019  1.94372388 -0.26394125 ... -1.10325546  0.60439732
  -0.10558415]
 ...
 [ 0.3429808   0.00330087  0.14964075 ... -0.73518964 -0.68519336
  -0.27575966]
 [-0.84488505  0.1597866  -0.47073225 ... -0.24020459 -0.37110101
   1.17073215]
 [-0.84488505 -0.8730192   0.04624525 ... -0.20212881 -0.47378505
  -0.87137393]]

In [14]:
x =standardized_data 
y =df['Outcome']

# Train_Test Split

In [15]:
x_train, x_test,y_train, y_test= train_test_split(x,y, test_size = 0.2, stratify = y, random_state=2 )

In [16]:
print(x.shape, x_train.shape, x_test.shape)

(768, 8) (614, 8) (154, 8)

# Training the model

In [17]:
classifier=svm.SVC(kernel ='linear')

In [18]:
#training with svm classifier

classifier.fit(x_train, y_train)

SVC(kernel='linear')

# Model performance

In [19]:
x_train_prediction = classifier.predict(x_train)

In [20]:
#training data accuracy
training_data_accuracy= accuracy_score(x_train_prediction, y_train)
print(training_data_accuracy)

0.7866449511400652

In [21]:
#test data accuracy
x_test_prediction = classifier.predict(x_test)
test_data_accuracy= accuracy_score(x_test_prediction, y_test)
print(test_data_accuracy)

0.7727272727272727

# Prediction model

In [32]:
input_data =(3,126,88,41,235,39.3,0.704,27)

#changing the input data to a numpy array
input_data_as_numpy_arrary= np.asarray(input_data)

#reshape the np as we predict for one instance
input_data_reshape = input_data_as_numpy_arrary.reshape(1,-1)

#standaedize the input data
std_data= scaler.transform(input_data_reshape)

prediction = classifier.predict(std_data)

if (prediction[0]==0):
        print('The person is not diabetic')
else:
    print('the person is diabetic')

The person is not diabetic

C:\Users\HP\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

# Saving the trained model

In [27]:
import pickle

In [30]:
filename = 'trained_mode.sav'
pickle.dump(classifier, open(filename, 'wb'))

In [31]:
#loading the saved model
loaded_model= pickle.load(open('trained_mode.sav', 'rb'))

In [33]:
input_data =(3,126,88,41,235,39.3,0.704,27)

#changing the input data to a numpy array
input_data_as_numpy_arrary= np.asarray(input_data)

#reshape the np as we predict for one instance
input_data_reshape = input_data_as_numpy_arrary.reshape(1,-1)

prediction = loaded_model.predict(std_data)

if (prediction[0]==0):
        print('The person is not diabetic')
else:
    print('the person is diabetic')

The person is not diabetic

C:\Users\HP\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(